.restaurants {
  background-color: green;
  color: aqua;
}

.right_header{
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: white;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius:8px;
  font-size: 1.3rem; 
  padding-right: 20px;
}

.main{
  width: 900px;
  padding: 50px 0 100px 250px;
  margin: 100px 0 100px;
  border:1px solid #777;
  box-sizing: border-box;
  float: right;
}

.sidemenu{
  display: block;
  width:200px;
  margin: 100px 0 100px;
  border:1px solid #777;
  float: left;
}

.ranking{
  display: block;
  width:200px;
  margin: 100px 0 100px;
  border:1px solid #777;
  float: left;
  overflow: hidden;
}

.footer{
  width: 100%;
  padding: 20px 0 30px;
  background: #3d3d54;
  color: #fff;
  overflow: hidden;
}

.horizontal-list{
  width: 970px
  margin: 0 auto;
  text-align: right;
  font-size: 0;
}

.horizontal-list .horizontal-item{
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
