   <header class="header">
       <img src="" width="40px" height="20px" alt="logo">
       <div class="right_header">検索</div>
       <div class="right_header">近くのお店</div>
       <div class="right_header">ランキング</div>
  </header>
   <div class="wrapper">
    <main class="main">
       <div class="genre">ファミレス</div>
       <div class="genre">牛丼</div>
       <div class="genre">うどん</div>
       <div class="genre">そば</div>
       <div class="genre">ファーストフード</div>
       <div class="genre">ファーストフード</div>
       <div class="genre">ファーストフード</div>
       <div class="genre">ファーストフード</div>
    </main>
    <div class="sidemenu">
        <div class="genre">ファミレス</div>
       <div class="genre">ラーメン</div>
       <div class="genre">うどん</div>
       <div class="genre">牛丼</div>
       <div class="genre">ハンバーグ</div>
       <div class="genre">ファーストフード</div>
       <div class="genre">ファーストフード</div>
       <div class="genre">ファーストフード</div>
    </div>  
    <div class="ranking">
        <div class="">総合</div>
       <div class="">ファミレス</div>
       <div class="">ファストフード</div>
       <div class="">牛丼</div>
       <div class="">ハンバーグ</div>
       <div class="">ファーストフード</div>
       <div class="">ファーストフード</div>
       <div class="">ファーストフード</div>
   </div>  
   </div>
   <footer class="footer">
       <ul class="horizontal-list">
           <li class="horizontal-item"><a href="#">ABOUT ME</a><li>
           <li class="horizontal-item"><a href="#">SITE MAP</a><li>
           <li class="horizontal-item"><a href="#">SNS</a><li>
           <li class="horizontal-item"><a href="#">CONTACT</a><li>
   </footer>
